{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if refresh %}<meta http-equiv="refresh" content="{{ refresh }}">{% endif %}
    <title>{% block titre %}SAE2.04 - Capteurs{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'capteurs/style.css' %}">
</head>
<body>
    {% block contenu %}{% endblock %}
</body>
</html>s